@import "tailwindcss";

@font-face {
  font-family: "Soroka";
  src: url(./assets/fonts/SOROKA.TTF);
  font-weight: normal;
}

@font-face {
  font-family: "Unbounded";
  src: url(./assets/fonts/Unbounded-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: "Unbounded";
  src: url(./assets/fonts/Unbounded-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: "Unbounded";
  src: url(./assets/fonts/Unbounded-Light.ttf);
  font-weight: 300;
}

html {
  font-family: "Unbounded";
  background: url(../src/assets/img/theme_sm.svg);
  background-size: cover;
}

@theme {
  --animate-stretch: stretch 0.5s ease-in-out;
  @keyframes stretch {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  };
}
